@import "../../pages/cart/style.css";

main {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

#main_section {
    width: 750px;
}

#data_div {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

#main_data_div {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    align-items: end;
}

#logo {
    width: 200px;
    grid-area: img;
    margin: 20px;
    border-radius: 15px;
    border: var(--md-sys-color-primary) 2px solid;
    background-color: var(--md-sys-color-primary-container);
    padding: 25px;
}

#main_description {
    grid-area: desc;
}

#cost {
    white-space: nowrap;
    text-align: right;
    width: fit-content;
    margin: 10px;
    font-size: 5rem;
    color: var(--md-sys-color-on-secondary-container);
}

#buy_div {
    grid-area: buy_div;
    display: flex;
    flex-flow: column nowrap;
    align-items: end;
}

#similar_ref {
    grid-area: similar;
    margin: 10px;
    text-decoration: none;
    background: var(--md-sys-color-secondary-container);
    padding: 5px 10px;
    border-radius: 15px;
    border: var(--md-sys-color-secondary) 1px solid;
    color: var(--md-sys-color-on-secondary-container);
    width: 150px;
    text-align: center;
}

#similar_ref:hover {
    background: var(--md-sys-color-tertiary-container);
    border: var(--md-sys-color-tertiary) 1px solid;
    color: var(--md-sys-color-on-tertiary-container);
}

#description_section {
    width: 750px;

    > p {
        white-space: pre-wrap;
    }
}