#cart_section {
    width: 400px;
}

#cart_div {
    grid-area: cart;
    justify-self: stretch;
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

    > p {
        align-self: center;
    }
}

.cart_element_div {
    padding: 5px 10px;
    border: var(--md-sys-color-primary) 1px solid;
    border-radius: 10px;
    margin: 10px 0;
    display: grid;
    grid: repeat(3, fit-content(100%)) / 1fr 40%;
    grid-template-areas: "name del" "desc cost" "buttons count";
    column-gap: 20px;
    transition: all 400ms;

    & a {
        text-decoration: none;
        color: initial;
    }

    > h3 {
        grid-area: name;
        > a {
            color: var(--md-sys-color-on-surface);
        }
    }

    > .product_desc {
        grid-area: desc;
    }

    > .product_count {
        grid-area: count;
        justify-self: end;
    }

    > .product_cost {
        display: block;
        grid-area: cost;
        justify-self: end;
        text-align: end;
        word-break: break-all;
    }

    > .remove_button {
        grid-area: del;
        font-size: 1.5rem;
        width: 40px;
        height: 40px;
        margin-top: 5px;
        justify-self: end;

    }

    > .remove_button:hover {
        color: var(--md-sys-color-on-error-container);
        background-color: var(--md-sys-color-error-container);
        border-color: var(--md-sys-color-error);
    }

    >  .product_div_button {
        justify-self: end;
        align-self: center;

        > button {
            width: 30px;
            height: 30px;
            font-size: 1.1rem;
        }
    }
}

.cart_element_div:hover {
    transform: scale(1.01);
    border-color: var(--md-sys-color-tertiary);
    box-shadow: 1px 1px 3px 2px black;
}

#to_catalog_href {
    width: 200px;
}

#sum_text {
    text-align: end;
}