#cart_section {
    width: fit-content;
}

.cart_element_div {
    padding: 5px 10px;
    border: var(--md-sys-color-primary) 1px solid;
    border-radius: 10px;
    margin: 10px 0;
    display: grid;
    grid: repeat(3, fit-content(100%)) / 1fr fit-content(100%);
    grid-template-areas: "name del" "desc cost" "buttons count";
    transition: all 400ms;
    width: 400px;

    & a {
        text-decoration: none;
        color: initial;
    }

    > h3 {
        grid-area: name;
        > a {
            color: var(--md-sys-color-on-surface);
        }
    }

    > .product_desc {
        grid-area: desc;
    }

    > .product_count {
        grid-area: count;
        justify-self: end;
    }

    > .remove_button {
        grid-area: del;
        font-size: 1.5rem;
        width: 40px;
        height: 40px;
        margin-top: 5px;
        justify-self: end;

    }

    > .remove_button:hover {
        color: var(--md-sys-color-on-error-container);
        background-color: var(--md-sys-color-error-container);
        border-color: var(--md-sys-color-error);
    }

    >  .product_div_button {
        justify-self: end;
        align-self: center;

        > button {
            width: 30px;
            height: 30px;
            font-size: 1.1rem;
        }
    }
}

.cart_element_div:hover {
    transform: scale(1.01);
    border-color: var(--md-sys-color-tertiary);
}