main {
    display: flex;
    align-items: start;
    column-gap: 20px;
    row-gap: 20px;
}

section {
    margin: 0;
}

#products_section {
    grid-area: products;
}

#products_div {
    display: grid;
    grid: repeat(4, fit-content(100%)) / repeat(2, 1fr);
    column-gap: 20px;
    row-gap: 20px;
    margin-bottom: 10px;
}

.product_div {
    width: 100%;
    height: 200px;
    background: var(--md-sys-color-surface-variant);
    border-radius: 10px;
    /*box-shadow: 1px 1px 3px 2px grey;*/
    display: grid;
    grid: repeat(3, fit-content(100%)) / fit-content(100%) 1fr fit-content(100%);
    grid-template-areas: "pic head cost"
                        "pic desc cost"
                        "pic button button";

    & * {
        color: var(--md-sys-color-on-surface);
    }
}

.product_img_div {
    height: 180px;
    width: 180px;
    margin: 10px;
    grid-area: pic;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;

    > img {
        height: 180px;
    }
}

.product_cost {
    white-space: nowrap;
    margin: 10px;
    font-size: 2rem;
    grid-area: cost;
    color: var(--md-sys-color-on-secondary-container);
}

.product_div_button {
    display: flex;
    flex-flow: row nowrap;
    grid-area: button;
    justify-self: end;
    align-self: end;
    margin: 10px;

    > a {
        text-decoration: none;
    }
}

.product_buy_button {
    width: 150px;
    height: 30px;

    /*padding: 2px 50px;*/
}

.product_basket_button {
    /*border-radius: 8px;*/
    display: none;
    margin-left: 5px;
    margin-right: 5px;
    width: 30px;
    height: 30px;
}

.product_head {
    grid-area: head;
    color: var(--md-sys-color-on-primary-container);
}

.product_desc {
    grid-area: desc;
}

#filters_section {
    height: fit-content;
    margin-top: 20px;
}

.sort_filters_div {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;

    > * {
        margin-bottom: 10px;
    }
}

#confirm_filter_button {
    padding: 5px 10px;
    width: 150px;
}

#cost_filter {
    > div {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        margin-bottom: 5px;

        > label {
            width: 1.8rem;
        }

        > input {
            margin-right: 5px;
            margin-left: 5px;
        }

        > span {
            margin-right: 5px;
        }
    }
}

#catalog {
    grid-area: catalog;
    height: 100%;
}

#sort_section {
    height: fit-content;
}

.sort_divs {
    background: var(--md-sys-color-primary);
    padding: 2px 15px;
    border: #00444f 1px solid;
    border-radius: 30px;
    box-shadow: 2px 2px 4px black;
    transition: all 400ms;
    cursor: pointer;

    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    width: 90%;

    > div > input {
        display: none;
    }

    > div > label, > p {
        color: var(--md-sys-color-on-primary-container);
        font-weight: 700;
        cursor: pointer;
        /*background: black;*/
        padding: 5px 10px;
        border-radius: 10px;
        height: fit-content;
    }

    > p {
        margin: 10px;
    }
}

.cart_button {
    width: 150px;
}

.sort_type_input:checked + label {
    box-shadow: inset 0 0 10px 2px black;
}


#sum_p {
    grid-column: 2 span;
}

#sort_filter_section {
    width: 300px;
}
